@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
  font-style: bold;
  font-weight: 500;
  font-display: swap;
}

@layer components {
  .btn {
    @apply tracking-wider text-base font-normal shadow-lg;
  }

  .shaded-text {
    @apply bg-black bg-opacity-10 py-2 rounded-lg;
  }

  .nav-link {
    @apply btn btn-ghost btn-sm rounded-btn;
  }

  .nav-btn {
    @apply btn btn-square btn-ghost;
  }

  .nav-icon {
    @apply inline-block w-5 h-5 stroke-current;
  }

  .side-nav-btn {
    @apply btn btn-ghost btn-sm rounded-btn drop-shadow-none;
    box-shadow: none; /* We can't use TW class in @apply because it conflicts with .btn, so let's use simple property */
  }

  .card-shadow {
    box-shadow: rgba(14, 30, 37, 0.061) 6px 6px 12px 0px,
      rgba(14, 30, 37, 0.075) 6px 6px 10px 0px;
  }
}
